@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300&family=Shadows+Into+Light+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-font: "Shadows Into Light Two";
    --background-color: lightgoldenrodyellow;
    --border-color: burlywood;
    --header-text-color:white;
    --menu-item-color:black;
    --sign-up-form-background-color: cornsilk;
    font-family: "Open Sans";
}

h1 {
    font-family: var(--title-font);
    font-size: 35px;
    text-align: center;
}

h2 {
    font-family: var(--title-font);
    font-size: 25px;
}

video {
    border-radius: 35px;
    border: 10px solid var(--border-color);
    display: block;
    width: 75%;
    display:flex;
    margin:auto;

}

img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 40px;
    display: block;
    width: 75%;

}

@media(min-width:500px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 35px;
    }
    p{
        font-size:20px;
    }
    li{
        font-size:20px;
    }
    img{
        width: 30%;   
    }
    video{
        width: 50%;   
    }
}