.form {
    background-color: cornsilk;
}

form {  
 
    padding: 5px;
    border: 10px solid var(--border-color);
    background-color: var(--background-color);
    border-radius: 40px;
}
.form__title{
text-align:center;
}
.form__personal-data  {
    display:grid;
    justify-items:center;
}

.form__agreements {
    font-size: 15px;
}

.form__submit {
    font-family: "Open Sans";
    font-size: 18px;
    border-radius: 40px;
    border: 5px solid var(--border-color);
    /*
    padding: 10px 50px 10px 50px;
    */
    background-color: var(--background-color);
    
    justify-content:center;
}

